<div class="row">
  <div class="col-sm-12">
    <div class="her-error"></div>
  </div>
</div>

<form>
  <label for="her-search">Place:</label>
  <input type="text" class="form-control her-location" id="her-location">

  <button type="submit" class="btn btn-default her-search">Search</button>
</form>

<div class="her-results"></div>
