<div class="row">
  <div class="col-sm-12">
    <div class="her-error"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form role="form">

      <div class="input-group">
        <div class="input-group-addon">Enter an area to explore</div>
        {{!-- <label for="her-location"> </label> --}}
        <input type="text" class="form-control her-location" placeholder="city, landmark, venues, etc">
        <span class="input-group-btn">
          <button class="btn btn-default her-search" type="submit">Search!</button>
        </span>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="list-group her-results"></div>
  </div>
</div>
