<div class="row">
  <div class="col-sm-12">
    <div class="her-error"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form role="form">

      <div class="input-group">
        <input type="text" class="form-control her-location" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default her-search" type="submit">Search!</button>
        </span>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="list-group her-results"></div>
  </div>
</div>
