<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Foursquare venues</title>
  </head>

  <body>
 
    {{{body}}}

    <script type="text/javascript" src="public/js/libs/jquery.min.js"></script>

    <script type="text/javascript" src="public/js/logger.js"></script>
    <script type="text/javascript" src="public/js/requestor.js"></script>
    <script type="text/javascript" src="public/js/events.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>

  </body>
</html>